---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
---

<Layout title="Portfolio Reymond">
	<main  class="container flex flex-col justify-center items-start max-w-[90%] mx-auto xl:max-w-7xl sm:mt-9">
		<div class="flex items-center justify-between gap-x-3">
			<img class="rounded-full w-16 h-16 object-cover cursor-pointer" src="src/img/reymondd.jpeg" alt="reymond">
			<Badge></Badge>
		</div>
		<h1 class="text-white text-4xl font-semibold mt-2">Hey, soy Reymond </h1>
		<p class="mt-5 text-xl text-white opacity-80">Soy estudiante de Frontend, con dos años de experiencia, <br class="hidden">
			apasionado por el diseño y creacion de sitios web a tu medida...
		</p>
		<a href="https://github.com/Reymond89" target="_blank" rel="noopener noreferrer" role="link" class="mt-7 inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
			GitHub
		</a>
	</main>
</Layout>

<style>
	
</style>
